variables/FarenheitToCelsius
variables/IntegerCalculator
variables/IntTypeInfo
hello-world/helloworld
strings/greetings
strings/flowerbox
module-05/if-statements/multiplication
module-05/random-numbers/random-numbers
module-05/random-numbers/multiplication-random
.vscode
module-05/loops/multiplication-while-loop
module-05/loops/multiplication-for-loop
module-05/loops/to-upper-range-loop